<div (mouseover)="ShowCoordinate($event)">
  <!-- 內嵌繫結 -->
  Title: {{title}}
  <!-- 如何建立component? ng g c header -->
  <!-- component directive (style不會影響到其他component) -->
  <!-- 如何從父component傳值 [message]-->
  <app-header [message]="title" (update)="title=$event"></app-header>
  <!-- (update) 傳event出來-->
  <hr>

  <!-- 事件繫結 打個()可以去找所有網頁的dom -->
  <button (click)="changeTitle('新的標題')">點我變更標題</button>

  <hr>

  <code class="highlight" [title]="title">{{title}}</code>
  <hr>

  座標: <code>{{x}}, {{y}}</code>


  <hr>
  <!-- Two Way Binding [(ngModel)='property'] 需加入 formModule -->
  <!-- #mTextarea 為範本參考變數-->
  <textarea #mTextarea [(ngModel)]="title" rows="10" cols="200" (keyup.escape)="clearTitle()"></textarea>
  <!-- 範本參考變數, 取得另一個元素的值-->
  <button type="button" (click)="doSubmit(mTextarea.value)">送出</button>

</div>

